[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
requests = "*"
beautifulsoup4 = "*"
requests-html = "*"
pyppeteer = "*"

[dev-packages]

[requires]
python_version = "3.9"
